<h2>Meet the contributors!</h2>

<div class="row contributor" >
	<div class="col-md-3 col-xs-12">
		<img src="http://placehold.it/200x200">
		<p class="social_icons">
			<a><img src="assets/images/facebook-icon.png"></a>
			<a><img src="assets/images/twitter-icon.png"></a>
			<a><img src="assets/images/linkedin-icon.png"></a>
			<a><img src="assets/images/Github-icon.png"></a>
		</p>
	</div>

	<div class="col-md-9 col-xs-12">
		<h3>Lorem Ipsum</h3>
		<h4>Dignissimos Ducimus </h4>
		<p>
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </br> Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
		</p>
	</div>
</div>

<div class="row contributor" >
	<div class="col-md-3 col-xs-12">
		<img src="http://placehold.it/200x200">
		<p class="social_icons">
			<a><img src="assets/images/facebook-icon.png"></a>
			<a><img src="assets/images/twitter-icon.png"></a>
			<a><img src="assets/images/linkedin-icon.png"></a>
			<a><img src="assets/images/Github-icon.png"></a>
		</p>
	</div>

	<div class="col-md-9 col-xs-12">
		<h3>Lorem Ipsum</h3>
		<h4>Dignissimos Ducimus </h4>
		<p>
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </br> Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
		</p>
	</div>
</div>

<div class="row contributor" >
	<div class="col-md-3 col-xs-12">
		<img src="http://placehold.it/200x200">
		<p class="social_icons">
			<a><img src="assets/images/facebook-icon.png"></a>
			<a><img src="assets/images/twitter-icon.png"></a>
			<a><img src="assets/images/linkedin-icon.png"></a>
			<a><img src="assets/images/Github-icon.png"></a>
		</p>
	</div>

	<div class="col-md-9 col-xs-12">
		<h3>Lorem Ipsum</h3>
		<h4>Dignissimos Ducimus </h4>
		<p>
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </br> Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
		</p>
	</div>
</div>

<div class="row contributor" >
	<div class="col-md-3 col-xs-12">
		<img src="http://placehold.it/200x200">
		<p class="social_icons">
			<a><img src="assets/images/facebook-icon.png"></a>
			<a><img src="assets/images/twitter-icon.png"></a>
			<a><img src="assets/images/linkedin-icon.png"></a>
			<a><img src="assets/images/Github-icon.png"></a>
		</p>
	</div>

	<div class="col-md-9 col-xs-12">
		<h3>Lorem Ipsum</h3>
		<h4>Dignissimos Ducimus </h4>
		<p>
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </br> Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
		</p>
	</div>
</div>

