    <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">Sign In</h2>
        <div class="form-input name">
            <div class="form-input username">
            	<i class="fa fa-user fa-fw"></i>
                <input class="form-control" ng-model="user.username" autofocus="true" ng-minlength="4" ng-maxlength="16" ng-required="true" placeholder="Username" type="text">
            </div>

            <div class="form-input password">
            	<i class="fa fa-lock fa-fw"></i>
                <input class="form-control" ng-model="user.password" ng-minlength="4" ng-maxlength="16" ng-required="true" placeholder="Password" type="password">
            </div>
        </div>
        <div class="alert alert-warning" ng-show="error">
            {{error}}
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
    </form>
