/*app css stylesheet*/
HTML, BODY {
	height: 100%;
	font-family: avenir, cabin, helvetica, arial;
	color: #333;
}
H1, H2 {
	font-weight: normal;
	text-shadow: none;
	color: #2F8EAE;
	font-family: Oswald;
	font-size: 32px;
}
H2 {
	font-size: 28px;
	font-weight: 300;
}
::-moz-selection {
	background: #333;
	color: #FFF;
}
::selection {
	background: #333;
	color: #FFF;
}
#main {
	min-height: 500px;
	padding-top: 15px;
}
.menu {
	list-style: none;
	border-bottom: 0.1em solid #000000;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}
.menu:before {
	content: "[";
}
.menu:after {
	content: "]";
}
.menu > LI {
	display: inline;
}
.menu > LI:before {
	content: "|";
	padding-right: 0.3em;
}
.menu > LI:nth-child(1):before {
	content: "";
	padding: 0;
}
.navbar-inverse {
	background-repeat: no-repeat;
	background: #FFF;
	border: 0px;
	padding: 0px 20px;
	background-color: #FFF;
	border-bottom: 1px solid #D0D0D0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2F8EAE',endColorstr='#ff2F8EAE',GradientType=0);
	box-shadow: 1px 5px 2px -5px #9C9C9C;
	-moz-box-shadow: 1px 5px 2px -5px rgb(156, 156, 156);
	-ms-box-shadow: 1px 5px 2px -5px rgb(156, 156, 156);
}
.navbar {
	text-shadow: 0px 0px;
}
.navbar-inverse .navbar-nav > LI > A {
	color: #AE4F2F;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	font-family: helvetica, arial;
}
.navbar-nav > LI > A {
	border: 0px;
}
.navbar-inverse .navbar-nav > LI > A:hover, .navbar-inverse .navbar-nav > LI > A:focus {
	background-color: #AE4F2F;
}
.navbar-inverse .navbar-nav > .active > A, .navbar-inverse .navbar-nav > .active > A:hover, .navbar-inverse .navbar-nav > .active > A:focus {
	color: #FFFFFF;
	background-color: #AE4F2F;
}
.navbar-inverse .navbar-brand {
	color: #333;
}
.navbar-inverse .navbar-brand:hover {
	color: #FFF;
	background-color: #2F8EAE;
}
.navbar-inverse .navbar-toggle {
	background-color: #AE4F2F;
	border: 0px solid #000;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #2F8EAE;
}
/*-------------------------------*/
BODY {
	padding-top: 50px;
	background-color: #F7F4EA;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
#footer {
	line-height: 40px;
	background-color: transparent;
	border-top: 1px solid #E0D6B2;
}
#footer A {
	color: #333;
}
/*Signup/Sign in*/
.form-signin {
	max-width: 400px;
	min-width: 350px;
	padding: 5px 30px 20px;
	margin: 0 auto;
	-webkit-box-shadow: 0 1px 2px #aaa;
	box-shadow: 0 1px 2px #AAA;
	background-color: #FFF;
	position: absolute;
	right: 50px;
	border: 2px solid #AE4F2F;
}
.form-signin:after {
	bottom: 100%;
	left: 65%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(174, 79, 47, 0);
	border-bottom-color: #AE4F2F;
	border-width: 14px;
	margin-left: -10px;
}
#registerForm.form-signin:after {
	left: 90%;
}
.form-signin .form-control:focus {
	z-index: 2;
	border: 2px solid #CAB97B;
}
.form-signin .form-control {
	font-size: 16px;
	height: auto;
	padding: 10px;
	color: #666;
	border: 2px solid #E0D6B2;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 0px rgba(0, 0, 0, 0.075);
}
.form-signin .form-input {
	margin-bottom: 10px;
}
.form-signin BUTTON {
	float: right;
	margin: 0px;
	background: #4E933B;
	text-shadow: none;
	font-size: 20px;
	border: 0px;
	padding: 8px 30px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.form-signin INPUT[type=text], .form-signin INPUT[type=email], .form-signin INPUT[type=password] {
	padding-left: 46px;
	height: 40px;
}
.form-signin BUTTON:hover {
	background: #CC6644;
	text-shadow: none;
}
.form-signin .form-input .errors {
	background-color: #484F57;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: border-color 1s;
}
.form-signin .form-input .errors.active {
	border-color: #666666;
}
.form-signin .form-input .errors .error {
	margin: 3px 5px;
	white-space: nowrap;
	overflow: hidden;
}
.form-signin .form-input .errors .error.ng-hide-add {
	transition: max-height 0.5s;
	max-height: 60px;
	display: block !important;
}
.form-signin .form-input .errors .error.ng-hide-add.ng-hide-add-active {
	max-height: 0px;
}
.form-signin .form-input .errors .error.ng-hide-remove {
	transition: max-height 0.5s;
	max-height: 0px;
	display: block !important;
}
.form-signin .form-input .errors .error.ng-hide-remove.ng-hide-remove-active {
	max-height: 60px;
}
.form-signin .form-input .errors .error:before {
	content: 'Error:';
	display: inline-block;
	color: #FA3F3C;
	font-weight: 800;
	width: 40px;
	vertical-align: top;
}
.form-signin .form-input .errors .error P {
	display: inline-block;
	white-space: normal;
	margin: 0;
}
.form-signin .form-input .errors .error P:first-child {
	width: 40px;
	vertical-align: top;
}
.form-signin .form-input .errors .error P:last-child {
	width: 316px;
}
.form-signin .form-signin-heading {
	margin-bottom: 10px;
	font-weight: normal;
	text-shadow: none;
	color: #2F8EAE;
	font-family: Oswald;
	font-size: 32px;
}
.form-signin .checkbox {
	font-weight: normal;
	margin-bottom: 10px;
}
.form-signin .password2 {
	margin-top: -1px;
	border-top: 0px;
}
.form-signin #passwordTall {
	height: 76px;
}
.fa-fw {
	color: #FFF;
	position: absolute;
	font-size: 18px;
	background-color: #E0D6B2;
	height: 36px;
	line-height: 40px;
	width: 36px;
	margin: 2px;
}
/*FILE UPLOAD*/
.fileupload {
	position: relative;
	overflow: hidden;
}
.fileupload INPUT.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*ABOUT*/
.about {
	margin: 0px 20px;
}
.form-signin .checkbox {
	font-weight: normal;
	margin-bottom: 10px;
}
.container[role="main"] {
	min-height: 100%;
	margin-bottom: 10px;
	height: auto !important;
}
/*SEARCH*/
.form-search {
	margin-top: 5%;
}
.input-block-level.form-control.txtSearch {
	width: 90%;
	float: left;
	height: 38px;
}
.btn-search {
	background: transparent;
	border: 0px solid #000;
	float: left;
	margin-left: -8px;
	margin-top: -2px;
	width: 10%;
}
.btn-search .fa-fs {
	background-color: #4E933B;
	display: block;
	color: #FFF;
	height: 38px;
	line-height: 36px;
	width: 100%;
	font-size: 18px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.btn-browse {
	background-color: #2F8EAE;
	border: 0px solid #000;
	height: 40px;
	width: 100%;
	color: #FFF;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 40px;
	font-size: 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn-browse:hover, .btn-search .fa-fs:hover {
	background-color: #AE4F2F;
}
.txtOr {
	font-family: Courgette, cursive;
	font-size: 32px;
	line-height: 32px;
	color: #888;
	display: block;
	text-align: center;
}
/*FILEUPLOAD*/
.fileupload {
	position: relative;
	overflow: hidden;
}
.fileupload INPUT.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*CAROUSEL*/
.carousel-indicators {
	display: none;
}
.carousel-control {
	position: relative;
	background: url(#red);
}
.carousel-control.left {
	padding: 0 10px;
	margin-right: 5px;
	left: 50%;
}
.carousel-control.right {
	padding: 0 10px;
	margin: 5px;
	left: 50%;
}
.carosel-container {
	margin-bottom: 60px;
}
.carousel-image IMG {
	width: 500px;
	height: 500px;
}
.carousel-text {
	border: 3px solid #E7B7B7;
	min-height: 450px;
	padding: 5px;
}
/*SEARCH RESULTS*/
.search-list-section {
	border-top: 2px dotted #E0D6B2;
	padding: 0px;
}
.search-list-section UL {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.search-list-section LI {
	border-bottom: 1px solid #E0D6B2;
	padding: 10px;
	margin: 0px;
	overflow: auto;
}
.search-list-section LI {
	background-color: #F2EEDE;
}
.search-list-section LI.altLI {
	background-color: #F7F4EA;
}
H2.searchResults B {
	font-weight: 300;
	color: #333;
	font-size: 25px;
}
.searchKeyword {
	color: #333;
}
.searchTitle A {
	color: #AE4F2F;
	display: block;
	font-size: 22px;
	line-height: 22px;
	font-weight: normal;
	padding-bottom: 3px;
	width: 97%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.searchTitle A:hover {
	color: #2F8EAE;
}
.searchLink A {
	color: #2F8EAE;
	text-decoration: underline;
}
.searchDescription {
	/*[empty]background-color:;*/
	font-size: 14px;
	display: block;
}
.searchKeywords {
	float: right;
	width: 25%;
}
.searchLink {
	width: 70%;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.searchKeywords A {
	color: #2F8EAE;
	font-size: 10px;
	text-transform: uppercase;
}
.searchLink A {
	color: #2F8EAE;
	font-size: 12px;
	text-decoration: underline;
}
/*STYLES FOR THE EDIT FILE PAGE*/
.file-actions, .files-reader {
	margin-top: 10px;
}
.txtNumber {
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background-color: #FC0;
	height: 22px;
	width: 22px;
	line-height: 22px;
	float: left;
	margin-right: 10px;
	margin-left: 3px;
	text-align: center;
}
.rowInfo {
	margin-bottom: 5px;
}
.rowAction {
	margin: 10px 0px;
}
.rowTxt {
	background-color: #FFF;
	border: 1px solid #AAA;
	border-top: 0px;
	margin-bottom: 10px;
	overflow: auto;
}
.rowMoreInfo {
	border: 1px solid #AAA;
	background-color: #4E933B;
	color: #FFF;
	padding: 10px;
	height: 150px;
	border-bottom: 0px;
	border-top: 0px;
}
.rowTxt .txtNumber {
	margin: 4px 3px;
}
.rowAction .txtNumber {
	margin-top: 10px;
}
.txtMore {
	float: right;
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}
A.btnMore {
	padding-top: 5px;
	line-height: 30px;
	display: block;
	height: 30px;
	background-color: #333;
	color: #FFF;
	font-size: 22px;
}
.displayBlock {
	display: block;
}
.displayNone {
	display: none;
}
A.btnMore:hover {
	background-color: #AE4F2F;
}
A.showMoreActive {
	background-color: #4E933B;
}
#iFile {
	width: 100%;
	border: 1px solid #AAA;
	margin-bottom: 10px;
}
#txtTags {
	width: 85%;
	border: 0px;
	padding: 5px 3px 2px;
	display: block;
	font-size: 14px;
	float: left;
	background-color: #FFF;
}
.file-actions .btn {
	font-size: 18px;
}
.rowPages {
	margin-bottom: 2px;
}
.paginate {
	margin-top: 5px;
}
.paginate.pag1 {
	/*first page styles*/
}
.paginate {
	margin: 0px auto;
	padding: 0px;
	overflow: auto;
}
.paginate.pag1 LI {
	list-style: none;
	font-weight: normal;
	font-size: 11px;
}
.paginate.pag1 LI A {
	display: block;
	float: left;
	color: #717171;
	background: transparent;
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 6px;
	border-radius: 3px;
	border: 1px solid #C0C0C0;
	box-shadow: inset 0px 1px rgba(255, 255, 255, 0.7), 0px 1px 3px rgba(0, 0, 0, 0.1);
	text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
}
.paginate.pag1 LI A:hover {
	background: #EEE;
	color: #555;
}
.paginate.pag1 LI A:active, .paginate.pag1 LI.current {
	-webkit-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
	box-shadow: inset -1px 2px 5px rgba(0, 0, 0, 0.25);
}
.paginate.pag1 LI.current {
	display: block;
	float: left;
	border: 1px solid #C0C0C0;
	padding: 3px 7px;
	margin-right: 6px;
	border-radius: 3px;
	background-color: #4E933B;
	color: #FFF;
}
.paginate.pag1 LI.single {
	float: right;
	float: right;
	margin-top: 7px;
	color: #999;
	margin-right: 2px;
}
.file-actions .btn-primary {
	margin-right: 5px;
}
.file-actions SELECT {
	margin-left: 30px;
	width: 60%;
	padding: 3px;
	font-size: 16px;
}

.file-actions LABEL {
	width: 80px;
	font-weight: normal;
	font-size: 16px;
}

.file-actions .control-group {
	margin-bottom: 5px;
}

.project {
	background: white;
	border-radius: 7px;
	padding: 25px 10px 25px 10px;
}

.main_title {
	text-align: center;
	color: #AE4F2F;
	text-transform: uppercase;
	font-weight: bold;
	font-family: helvetica, arial;
}

.subtitle {
	padding-bottom: 20px;
	text-align: center;
}

.button_portfolio {
	margin-top: 20px;
}

#advanced_search {
	float: right;
	color: #2F8EAE;
	padding: 15px 15px 0 0;
}

#advanced_search::selection {
background: transparent;
color: #AE4F2F;
}

#advanced_search:hover{
	text-decoration: none;
	color: #AE4F2F;
	cursor: pointer;
}

#adv_form .control-label{
	padding: 20px 0 10px 0;
}

#avd_sub{
	margin-top: 35px;
}
